<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462640156975-7gf4p9bks0u4e9jvl20agdnami365r9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462640156975-7gf4p9bks0u4e9jvl20agdnami365r9s</string>
	<key>API_KEY</key>
	<string>AIzaSyCyU_DWvZNMjSZbr6E3LvFt1LAERdWC49c</string>
	<key>GCM_SENDER_ID</key>
	<string>462640156975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ateazorderingapps</string>
	<key>PROJECT_ID</key>
	<string>ateazorderingapp-6d8cf</string>
	<key>STORAGE_BUCKET</key>
	<string>ateazorderingapp-6d8cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462640156975:ios:75f6200f0a7a44bd4c51da</string>
</dict>
</plist>